form#js-calculate-form(method="post",action="/calculate")
  .am-g
    .am-u-sm-3
      select(data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'secondary'}",name="category",id="category")
    .am-u-sm-3
      select(data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'secondary'}",name="level",id="level")
    .am-u-sm-3
      select(data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'secondary'}",name="number")
        option(value="0") 请选择数量
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
    .am-u-sm-3.am-text-right
      button.am-btn.am-btn-primary.am-btn-sm#js-calculate-btn(type="button") 开始计算
hr