footer.age-footer
  .am-g.am-g-fixed.am-text-center
    .col-md-4.col-md-push-8.am-u-md-4.am-u-md-push-8
      ul.age-social
        li
          a
            span.am-icon-qq
        li
          a
            span.am-icon-weibo
        li
          a
            span.am-icon-weixin
    .col-md-8.col-md-pull-4.am-u-md-8.am-u-md-pull-4
      p © 2015 AllMobilize, Inc. Developed by cl&tbd . Developed with WebStorm