.am-g
  .am-u-sm-6
    .am-panel.am-panel-secondary
      .am-panel-hd
        h3.am-panel-title 这是一个面板
      .am-panel-bd 面板内容
  .am-u-sm-6
    .am-panel.am-panel-secondary
      .am-panel-hd
        h3.am-panel-title 这是一个面板
      .am-panel-bd 面板内容
.am-g
  .am-u-sm-6
    .am-panel.am-panel-secondary
      .am-panel-hd
        h3.am-panel-title 这是一个面板
      .am-panel-bd 面板内容
  .am-u-sm-6
    .am-panel.am-panel-secondary
      .am-panel-hd
        h3.am-panel-title 这是一个面板
      .am-panel-bd 面板内容